{% extends 'base.html' %}

{% load static %}

{% block title %}{{item.name}}{% endblock %}
{% block shop-active %}active{% endblock %}

{% block content %}
<main role="main" class="container mt-5 pt-5 pt-sm-0 mb-5 mx-auto">
    <div class="row mt-lg-5 pt-lg-5 justify-content-between">
       <div class="col d-none d-lg-flex d-xl-flex">
        <img src="{{item.image.url}}" alt="{{item.name}}" width="500rem" height="500rem">
      </div>
      <div class="col text-center">
        <h3 class="caveat-brush mt-lg-5" style="font-size: 3.5rem">{{item.name}}</h3>
        <img class="d-lg-none my-4 mx-auto" src="{{item.image.url}}" alt="{{item.name}}" width="300rem" height="300rem">
        <p class="text-info lead">$ {{item.price}} MXN</p>

        <form action="{% url 'add_to_cart' %}" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <div class="form-row justify-content-center mx-5 mx-md-auto px-5 px-md-auto">
                    <div class="col-md-auto">
                        <h5>Talla</h5>
                        <select name="size" class="form-control" id="inlineGroupPrepend" required>
                            <option>XS</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                        </select>
                        <input name="item_id" type="hidden" value="{{item.id}}">
                    </div>
                    <div class="col-md-auto mt-3 mt-md-auto">
                        <h5>Cantidad</h5>
                        <input class="form-control" name="quantity" value=1 type="number" min="1" max="100" required>
                    </div>
                </div>

                {% if item.short_description %}
                <div class="form-row justify-content-center">
                    <div class="col-5 mt-4 mt-md-3 mb-4 mb-md-5">
                        <hr class="d-none d-md-block">
                        <p>{{item.short_description}}</p>
                        <hr class="d-none d-md-block">
                    </div>
                </div>
                {% endif %}
                
                <input type="submit" 
                class="btn btn-lg bg-gr-blue text-white font-weight-bold" 
                value="Añadir al carrito">
            </div>
        </form>
            

      </div>
    </div>
</main>

{% endblock %}